accelerate
aiohttp
bitsandbytes
datasets==3.2.0
deepspeed==0.18.3
einops
grpcio>=1.74.0
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.48.0
tensorboard
tqdm
transformers==4.57.3
transformers_stream_generator
wandb==0.19.11
wheel
openai
jinja2
tabulate
regex
sympy
antlr4-python3-runtime
timeout-decorator
pebble
multiprocess
jsonlines
